{% load static %}
{% load i18n %}


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Tarik Huseinbašić - Index</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
 
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
<link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

{% if LANGUAGE_CODE == 'en' %}
<link href="{% static 'assets/css/style_en.css' %}" rel="stylesheet" type="text/css">
{% elif LANGUAGE_CODE == 'bs' %}
<link href="{% static 'assets/css/style_bs.css' %}" rel="stylesheet" type="text/css">
{% endif %}


</head>

<body>

 

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

 

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static 'assets/img/profile-img.jpg' %}" alt="" class="img-fluid rounded-circle">

        <h1 class="text-light"><a href="">Tarik Huseinbašić</a></h1>
        <div class="social-links mt-3 text-center">
          <!--<a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>-->
          <a href="https://www.facebook.com/tarik.huseinbasic?mibextid=ZbWKwL" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://instagram.com/huseinbasict?igshid=ZDdkNTZiNTM=" class="instagram"><i class="bx bxl-instagram"></i></a>
          <!--<a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>-->
          <a href="https://ba.linkedin.com/in/tarik-huseinba%C5%A1i%C4%87-8579a311b" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>{% trans "Home" %}</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>{% trans "About" %}</span></a></li>
          <li><a href="#skills" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Skills</span></a></li>
          <li><a href="#projects" class="nav-link scrollto"><i class="bx bx-server"></i> <span>{% trans "Projects" %}</span></a></li>

          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>{% trans "Resume" %}</span></a></li>
          
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>{% trans "Contact" %}</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Tarik Huseinbašić</h1>
      <p>I'm <span class="typed" data-typed-items="Teacher by day, web developer by night"></span></p>

      

     

    
    </div>
  </section><!-- End Hero -->

  

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
        <div class="section-title">
          <h2>{% trans "About Me" %}</h2>
          <p>{% trans "I'm a web developer passionate about creating dynamic, user-friendly websites. I specialize in using Python with Django, along with HTML and CSS, to craft interactive web applications that make a difference." %}</p>
          <p>Creating the web, one line of code at a time.</p>
        </div>
        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'assets/img/profile-img.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            
            <div class="row">
                     
            
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>{% trans 'Web Developer.' %}</h3>
            <p class="fst-italic">
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>{% trans 'Birthday:' %}</strong> <span>{% trans '25. 12. 1985.' %}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>{% trans 'Website:' %}</strong> <span>{% trans 'tarik.sungaze.net' %}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>{% trans 'Phone:' %}</strong> <span>{% trans '+387 61 372 524' %}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>{% trans 'City:' %}</strong> <span> {% trans 'Travnik, BIH' %}</span></li> 
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <!--<li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>30</span></li>-->
                  <li><i class="bi bi-chevron-right"></i> <strong>{% trans 'Degree:' %}</strong> <span>{% trans 'VII' %}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>{% trans 'Email:' %}</strong> <span>{% trans 'tahu85@hotmail.com' %}</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>{% trans 'Freelance:' %}</strong> <span>{% trans 'Available' %}</span></li>
                </ul>
              </div>
            </div>
            <p>

            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container">
        <div class="section-title">
          <h2>{% trans "Facts" %}</h2>
          <p>{% trans "I firmly believe that every programmer is a self-taught programmer. Learning programming can be challenging, but it's the dedication and hard work that lead to success. As a web developer, I've embraced this journey, continuously learning, and achieving results." %}</p>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Happy Clients</strong> {% trans "and counting" %}</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Projects Completed</strong></p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="5000" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hours of Hard Work</strong></p>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->

    <section id="skills" class="skills section-bg">
      <div class="container">
        <div class="section-title">
          <h2>Skills</h2>
          <p>{% trans 'Programming skills are the tools I use to communicate with computers, applications, and software. Here are some of the skills I bring to the table:' %}</p>
        </div>


        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">
            <div class="skill-box">
              <i class="bi bi-code"></i>
              <span class="skill">HTML and CSS</span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>{% trans 'Proficient in creating structured web content with HTML.' %}</p>
            </div>

            <!-- Python -->
            <div class="skill-box">
              <i class="bi bi-laptop"></i>
              <span class="skill">Python</span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>{% trans 'Experienced in Python programming for web development and automation.' %}</p>
            </div>
            <!-- Django -->

            <div class="skill-box">
              <i class="bi bi-gear"></i>
              <span class="skill">Django</span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>{% trans 'Proficient in building web applications using the Django framework.' %}</p>
            </div>

             <!-- MySQL -->

            <div class="skill-box">
              <i class="bi bi-database"></i>
              <span class="skill">MySQL</span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>{% trans 'Highly proficient in database design, querying, and management with MySQL.' %}</p>
            </div>

            <!-- GIT -->

            <div class="skill-box">
              <i class="bi bi-code-slash"></i>
              <span class="skill">GIT (Version Control)</span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>{% trans 'Highly skilled in version control with GIT, including branching, merging, and collaboration on projects.' %}</p>
            </div>
        
            <!-- Add similar skill boxes for other categories -->
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            
            
            <!-- Add similar skill boxes for other categories -->

            <div class="skill-box">
              <i class="bi bi-cloud"></i>
              <span class="skill">AWS (Amazon Web Services)</span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>{% trans 'Experienced in AWS services, cloud architecture, and infrastructure management.' %}</p>
            </div>

            <div class="skill-box">
              <i class="bi bi-box"></i>
              <span class="skill">Google Cloud Run</span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>{% trans 'Familiar with deploying containerized applications on Google Cloud Run.' %}</p>
            </div>
            

            <div class="skill-box">
              <i class="bi bi-server"></i>
              <span class="skill">Linode</span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>{% trans 'Proficient in setting up and managing cloud servers using Linode.' %}</p>
            </div>


            <div class="skill-box">
              <i class="bi bi-terminal"></i>
              <span class="skill">BASH (Bourne Again Shell)</span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>{% trans 'Proficient in BASH scripting for automation, system administration, and task automation.' %}</p>
            </div>

            <div class="skill-box">
              <i class="bi bi-monitor"></i>
              <span class="skill">Selenium</span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <p>{% trans 'Highly skilled in using Selenium for web testing and browser automation, including test script development and test execution.' %}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Skills Section -->


    <!-- ======= Projects Section ======= -->

    <section id="projects" class="services">
      <div class="container">
        <div class="section-title">
          <h2>Projects</h2>
          <p>{% trans 'Here are some of the projects I have worked on to showcase my coding skills:' %}</p>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="title"><a href="#">Portfolio Web Page</a></h4>
            <p class="description">{% trans 'A portfolio website to showcase my work, skills, and personality. Built with HTML, CSS, and Python/Django.' %}</p>
            <a href="#">View Project</a>
          </div>
          
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4 class="title"><a href="#">Web Scraping with Selenium</a></h4>
            <p class="description">{% trans 'Web scraping project using Selenium to extract data and content from websites.' %}</p>
            <a href="#">View Project</a>
          </div>

          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-bar-chart"></i></div>
            <h4 class title><a href="#">Polls App with Django</a></h4>
            <p class="description">{% trans 'A Django-based polls application created during a Django tutorial.' %}</p>
            <a href="#">View Project</a>
          </div>

          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-journal"></i></div>
            <h4 class="title"><a href="https://blog.sungaze.net/">Blog Website</a></h4>
            <p class="description">{% trans 'A blog website built to share articles, thoughts, and insights. Developed using Python/Django for the backend and HTML/CSS for the frontend.' %}</p>
            <a href="https://blog.sungaze.net/">View Project</a>
          </div>

          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bi bi-cart"></i></div>
            <h4 class="title"><a href="http://139.162.136.103:8000/">Online Shop</a></h4>
            <p class="description">{% trans 'An online shop built for e-commerce, featuring product listings, shopping cart functionality, and secure payments. Developed using Python/Django and integrated with a payment gateway.' %}</p>
            <a href="http://139.162.136.103:8000/">View Project</a>
          </div>

            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
              <div class="icon"><i class="bi bi-dumbbell"></i></div>
              <h4 class="title"><a href="https://tarikfitness.sungaze.net/">Gym Website</a></h4>
              <p class="description">{% trans 'A website designed for a gym or fitness center' %}</p>
              <a href="https://tarikfitness.sungaze.net/">View Project</a>
            </div>

            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="600">
              <div class="icon"><i class="bi bi-check2"></i></div>
              <h4 class="title"><a href="https://todo.sungaze.net/">To-Do App</a></h4>
              <p class="description">{% trans 'A task management application for creating and organizing to-do lists. This app allows users to add, edit, and mark tasks as completed, helping them stay organized and productive. Developed using Python/Django for the backend and HTML/CSS for the frontend.' %}</p>
              <a href="https://todo.sungaze.net/">View Project</a>
            </div>

            <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="700">
  <div class="icon"><i class="bi bi-file-earmark-text"></i></div>
  <h4 class="title"><a href="#">One Page Website</a></h4>
  <p class="description">{% trans 'A single-page website designed to deliver information, services, or products in a concise and visually appealing manner. This project demonstrates expertise in responsive design and creative web development.' %}</p>
  <a href="#">View Project</a>
</div>

            


            
          
          
          
        </div>
      </div>
    </section>
    


    <!-- End Projects Section -->

   


    <!-- ======= Resume Section ======= -->

    <section id="resume" class="resume">
      <div class="container">
        <div class="section-title">
          <h2>Resume</h2>
          <p>'I am a Python developer with a background in sports and physical education. I provide clean code, pixel-perfect design, and create responsive websites. Here's a summary of my education and professional experience</p>
        </div>
        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Professional Summary</h3>

            <div class="resume-item pb-0">
              <h4>Tarik Huseinbašić</h4>

              
              <ul>
                <li>Travnik, BIH</li>
                <li>+387 61 372 524</li>
                <li><a href="http://www.tarik.link" target="_blank">www.tarik.sungaze.net</a></li>
              </ul>
              <div class="resume-item">
                <h4>Teacher of sport and phisical education</h4>
                <h5>2010 - Present</h5>
                <p><em>Elči Ibrahim-pašina medresa </em></p>
                <p><em>MSŠ Busovača </em></p>
              </div>
  

              
            </div>
            
          </div>






          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Education</h3>

            <div class="resume-item">
              <h4>Teacher of Sport and Physical Education</h4>
              <h5>2004 - 2009</h5>
              <p><em>Faculty of Sports and Physical Education | University of Sarajevo</em></p>
            </div>
            <div class="resume-item">
              <h4>Secondary School</h4>
              <h5>2000 - 2004</h5>
              <p><em>Elči Ibrahim-pašina medresa, Travnik</em></p>
            </div>
          </div>
          <!-- Professional Experience and Skills sections can be added here -->
        </div>
      </div>
    </section>
    



    
    
    
    
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>I'm a web enthusiast who loves what I do. My mission is to bring your web project ideas to life. 
            Let's connect and build something great together. 
            Get your space suit ready and tell me your ideas to develop your dream application..</p>
        </div>

        

        <form action="/contact" method="post">{% csrf_token %}

          <div class="form-group">
          <input type="text" class="form-control" name="name" placeholder="Enter Your Name">
          </div>
      
      
          <div class="form-group">
          <input type="email" class="form-control mt-2" name="email" placeholder="Enter Your Email">
          </div>
          
      
          <div class="form-group">
          <input type="subject" class="form-control mt-2" name="subject" placeholder="Enter a subject">
          </div>
      
      
          <div class="form-group">
          <label for="message" class="text-warning"></label> 
          <textarea class="form-control mt-2" name="message" cols="5" rows="3" placeholder="Your message..." id="message"></textarea>
          </div>
      
          <br>
          <div class="d-grid gap-2">
          <button class="btn btn-warning" type="submit">Submit</button>
          </div>
      
      
      
       </form>

       <div class="d-flex flex-column">

        <div class="d-flex flex-column">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Travnik, Bosnia and Herzegovina, 72270 </p>
              </div>

            <!--  <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>tahu85@hotmail.com</p>
              </div>-->

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>0038761 372 524 </p>
              </div>

             




          </div>

          <div class="d-flex justify-content-between">

            <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d114832.28631200008!2d17.627203285350244!3d44.22186461877998!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sbs!2sba!4v1684141353147!5m2!1sbs!2sba" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          
          <div class="col-md-3"></div>
            </div>
          
          
            </div>
          
          
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
         <strong><span>Portfolio</span></strong>
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/ -->
        <!--Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End  Footer -->
  
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/assets/vendor/aos/aos.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/assets/vendor/typed.js/typed.min.js"></script>
  <script src="static/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>


